#larkspodcast-home {
  #larkspodcast-banner {
    position: relative;

    @media screen and (max-width: 500px) {
      #larks-ellipse {
        img {
          width: 150px !important;
          height: 150px !important;
          position: absolute;
          top: -59px;
          right: 6px;
        }

        h3 {
          top: -19px !important;
          right: 25px !important;
        }
      }
    }

    #intro-header {
      color: $larks-header-color;
    }

    #larks-ellipse {
      position: relative;

      img {
        width: 200px;
        height: 200px;
      }

      h3 {
        text-shadow: -3px -3px white, -1px -1px white;
        text-align: center;
        width: 118px;
        position: absolute;
        top: 20%;
      }
    }
  }


  #larkspodcast-platforms {
    #podcasts-platforms {
      #podcasts-platforms-split {
        #podcasts-platform-listing {
          .platform-listing {
            padding: 0.75rem;
            border: 2px solid $primary-color;
            border-radius: 9999px;
            font-family: $poppins;
            font-weight: 500;
            margin: 10px;
            text-decoration: none;

            img {
              display: inline-block;
              width: 32px;
              height: 32px;
              vertical-align: middle;
              margin-right: 0.75rem;
            }

            span {
              text-align: center;
              color: $text-color;
            }

            &:hover {
              span {
                color: $accent-color;
                transition: $transition;
              }
            }
          }
        }
      }
    }
  }

  #youtube-platform {
    #inline-frame {
      width: 100%;
      display: flex;
      justify-content: center;
      box-sizing: border-box !important;

      iframe {
        width: 80%;
        height: 500px;
        max-width: 80%;
      }
    }
    #subscribe-button {
      background-color: #ff0200;
    }
  }
}