#larkspodcast-nav-container {
    nav {
        // display: none;
        ul {
            position: fixed;
            left: 50%;
            bottom: 0%;
            transform: translate(-50%, -50%);
            z-index: 3 !important;

            li {
                a {
                    padding: 0 0.5rem 0 0.5rem;
                    border-radius: 0.375rem;

                    &:visited {
                        background-color: $primary-color;
                    }

                    &:hover, &:active {
                        background-color: $primary-color;
                        transition: $transition;
                    }

                    span {
                        font-size: 3rem !important;
                    }
                }
            }
        }
    }
}